set default=0
set timeout=8

menuentry 'Surface Pro 11 beta live environment (held review20)' --id sp11-live-review20 {
	search --no-floppy --label --set=sp11iso SP11BETA
	echo 'Loading qualified Surface Pro 11 review20 kernel ...'
	linux ($sp11iso)/sp11/Image-7.1.3-sp11-suspend-review20 root=/dev/ram0 rw rd.log=console loglevel=7 systemd.tpm2_wait=false efi_pstore.pstore_disable=0 mem_sleep_default=deep cpufreq.default_governor=schedutil qcom_ipcc.mask_summary_on_suspend=1 sp11_deep_idle=1 sp11live=LABEL=SP11BETA
	devicetree ($sp11iso)/sp11/x1e80100-microsoft-denali-oled.dtb
	echo 'Loading volatile live root filesystem ...'
	initrd ($sp11iso)/sp11/initramfs-7.1.3-sp11-suspend-review20-live.img
}

menuentry 'Surface Pro 11 beta live environment (conservative CPU idle)' --id sp11-live-review20-safe {
	search --no-floppy --label --set=sp11iso SP11BETA
	echo 'Loading qualified Surface Pro 11 review20 kernel in conservative mode ...'
	linux ($sp11iso)/sp11/Image-7.1.3-sp11-suspend-review20 root=/dev/ram0 rw rd.log=console loglevel=7 systemd.tpm2_wait=false efi_pstore.pstore_disable=0 mem_sleep_default=deep cpufreq.default_governor=schedutil qcom_ipcc.mask_summary_on_suspend=1 sp11live=LABEL=SP11BETA
	devicetree ($sp11iso)/sp11/x1e80100-microsoft-denali-oled.dtb
	echo 'Loading volatile live root filesystem ...'
	initrd ($sp11iso)/sp11/initramfs-7.1.3-sp11-suspend-review20-live.img
}
