[Unit]
Description=SP11 Precise Touch & Stylus Daemon for %I
Documentation=https://github.com/linux-surface/iptsd
StopWhenUnneeded=yes
BindsTo=%i.device
After=%i.device
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
ExecStart=/usr/local/libexec/sp11-iptsd /%I
Restart=on-failure
RestartSec=1s
KillSignal=SIGTERM
TimeoutStopSec=15s

